
.header, 
.title, 
.main, 
.footer {
	padding-top: 10px;
}
.logoinfo {
	background: #38c8fe;
	height: 8vh;
}
.headerinfo {
 background: #ffaf47;
 height: 8vh;
}
.titleinfo
{
	background-color: #ff7747;
	height: 55vh;
}
.maininfo
{
	background: #ffd647;
	height: 30vh;
}
.footerinfo
{
	background: #fdc1ff;
	height: 10vh;
}
