* {
	margin: 0px;
	padding: 0px;
}
.blue {
	background: #3fb4ff;
	height: 10vh;
  margin:7px;
}
.green {
	background:#009245;
	height: 90vh;
	float: left;
	width: 22%;
	margin: 7px;
}
.red {
	background:#d41440;
	height: 90vh;
	float: left;
	width: 54%;
	margin: 7px;
}
.orange{
	background: #f1861e;
	height: 90vh;
	float: left;
	width: 20.6%;
	margin: 7px;
}
@media (max-width: 767px) {
  .blue
  {
    width: 98%;
  }
  .green {
  	width: 98%;
  	height: 10vh;
  }
  .red {
  	height: 60vh;
  	width: 98%;
  }
  .orange {
  	height: 10vh;
  	width: 98%;
  }
}
  @media (min-width: 768px) and (max-width: 991px) 
  {
 .blue
  {
    width: 98%;
  }
  	.green {
  	width: 98%;
  	height: 30vh;
  	}
  	.red {
  	height: 90vh;
  	width: 54%;
  	}
  	.orange {
  	height: 90vh;
  	width: 42.1%;
  	}

  }
