* {
	margin: 0px;
	padding: 0px;
}
.blue {
	background: #3fb4ff;
	height: 10vh;
	margin: 11px;
}
.green {
	background:#009245;
	height: 90vh;
	float: left;
	width: 22%;
	margin: 11px;
}
.red {
	background:#d41440;
	height: 90vh;
	float: left;
	width: 53%;
	margin: 10px;
}
.orange{
	background: #f1861e;
	height: 90vh;
	float: left;
	width: 20%;
	margin: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .green {
  	width: 98%;
  	height: 10vh;
  }
  .red {
  	height: 60vh;
  	width: 98%;
  }
  .orange {
  	height: 10vh;
  	width: 98%;
  }
}
 @media (min-width: 768px) and (max-width: 1023px) 
  {
  	.green {
  	width: 98%;
  	height: 30vh;
  	}
  	.red {
  	height: 90vh;
  	width: 53%;
  	}
  	.orange {
  	height: 90vh;
  	width: 41%;
  	}

  }
